DirectoryIndex index.php

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^admin/admin_dashboard$ admin/admin_dashboard.php [L,QSA]
RewriteRule ^admin/admin_chapitres$ admin/admin_chapitres.php [L,QSA]
RewriteRule ^alumno/dashboard$ alumno/dashboard.php [L,QSA]
